<div class="col-xs-12">
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#meta">MetaRoom</a></li>
      <li><a data-toggle="tab" href="#tree">GameTree</a></li>
      <li><a data-toggle="tab" href="#roster">Roster</a></li>
      {{#if isGuildLeader}}
        <li><a data-toggle="tab" href="#leader">Leader</a></li>
      {{/if}}
  </ul>

  <div class="tab-content">
      <div id="meta" class="tab-pane fade in active">
          <h2>Game room conversations and chat go here</h2>
          <iframe src="http://localhost:3333/maps" width="800" height="800"></iframe>
      </div>
      <div id="tree" class="tab-pane fade">
        <h2>Game Tree Goes Here</h2>
      </div>
      <div id="roster" class="tab-pane fade">
        <h2>Roster</h2>
        {{#each members}}
          <a href="/user/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
        {{/each}}
      </div>
      <div id="leader" class="tab-pane fade">
        <h2>Leader Activities</h2>
        <div class="form-group">
            <a href="/selectrootnode/{{guildId}}" class="btn btn-large btn-primary">Select Root Node</a><br/><br/>
            <a href="/playmoves/{{guildId}}" class="btn btn-large btn-primary">Play Moves</a><br/><br/>
            <a href="/newmetamap/{{guildId}}" class="btn btn-large btn-primary">Start New Quest Conversation</a>
            <!--forms for adding/removing leaders/members -->
            <hr/>
            <div>
              <form name="admemform" method="get" action="/addmember/{{guildId}}"  role="form" class="form-horizontal">
                <div class="form-group">
                  <label for="am" class="col-sm-2 control-label">Add Guild Member</label>
                  <div class="col-sm-8">
                    <input id="am" type="text" name="member" value="" placeholder="Enter the member's ID" class="form-control">
                    <button type="submit" class="btn btn-success">Add Member</button>
                  </div>
                </div>
              </form>
            </div>
            <hr/>
            <div>
              <form name="removemember" method="get" action="/removemember/{{guildId}}"  role="form" class="form-horizontal">
                <div class="form-group">
                  <label for="rm" class="col-sm-2 control-label">Remove Guild Member</label>
                  <div class="col-sm-8">
                    <input id="rm" type="text" name="member" value="" placeholder="Enter the member's ID" class="form-control">
                    <button type="submit" class="btn btn-success">Remove Member</button>
                  </div>
                </div>
              </form>
            </div>
            <hr/>
            <div>
              <form name="addleader" method="get" action="/addleader/{{guildId}}"  role="form" class="form-horizontal">
                <label for="al" class="col-sm-2 control-label">Add Guild Leader</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input id="al" type="text" name="member" value="" placeholder="Enter the member's ID" class="form-control">
                    <button type="submit" class="btn btn-success">Add Leader</button>
                  </div>
                </div>
              </form>
            </div>
            <hr/>
            <div>
              <form name="removeleader" method="get" action="/removeleader/{{guildId}}"  role="form" class="form-horizontal">
                <div class="form-group">
                  <label for="rlf" class="col-sm-2 control-label">Remove Guild Leader</label>
                  <div class="col-sm-8">
                    <input id="rlf" type="text" name="member" value="" placeholder="Enter the member's ID" class="form-control">
                    <button type="submit" class="btn btn-success">Remove Leader</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
  </div>

</div>
