<div class="home col-xs-12 ">
  <h1>Blog Central!</h1>
  {{#if isAuthenticated}}
      <div class="form-group">
          <a href="/blognew"><button type="submit" class="btn btn-btn-success btn-small">New Post</button></a><br />
      </div>
  {{/if}}

  <div class="col-xs-10 pre-scrollable"  style="border: 1px solid #e1e1e8;"> <!-- position:"left"; -->
      <div class="tableindex">
          <!-- TODO paint the table here -->
          {{#each cargo}}
              <a href="/blog/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
          {{/each}}
      </div>
  </div>
  <div class="col-xs-12"> <!-- position:"left"; -->
      <div class="pagination">
        {{#if start}}
          <a href="/blognext/{{start}}">Next</a>&nbsp;&nbsp;&nbsp;
        {{/if}}
        {{#if ret}}
          <a href="/blogprev/{{ret}}">Previous</a>
        {{/if}}
      </div>
  </div>
</div>
