<img src="{{nodeicon}}"><h1>{{formtitle}}</h1>
<hr>
<script>
  function validateForm() {
    var x = document.forms["conform"]["title"].value;
    if (x == "") {
        alert("Title must be filled out");
        return false;
    }
  }
</script>

<div class="blog-post col-xs-9">
    <form name="conform" method="post" action="{{action}}"  role="form" class="form-horizontal">
      <!-- locator means this is an edit of this node -->
        <input type="hidden" name="locator" value="{{locator}}">
        <!-- parentlocator and context are parentLocator and conversation rootLocator for child nodes -->
        <input type="hidden" name="parentlocator" value="{{parent}}">
        <input type="hidden" name="context" value="{{context}}">
        <!-- required field: determines conversation node type -->
        <input type="hidden" name="nodetype" value="{{nodeType}}">
        {{#if isURL}}
            <p class="blog-post-meta">
                URL: <input id="url" type="text" name="url" value="{{url}}" class="form-control">
            </p>
        {{/if}}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input id="title" type="text" name="title" value="{{title}}" placeholder="Enter the title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Body</label>
            <div class="col-sm-10">
              <textarea name="body" id="editor1" ></textarea>
              <script>
                CKEDITOR.replace( 'editor1' );
              </script>
            </div>
        </div>
        {{#if isNotEdit}}
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Tag Label</label>
                <div class="col-sm-4">
                    <input type="text" name="tag1" placeholder="Enter a tag label" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Tag Label</label>
                <div class="col-sm-4">
                    <input type="text" name="tag2" placeholder="Enter a tag label" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Tag Label</label>
                <div class="col-sm-4">
                    <input type="text" name="tag3" placeholder="Enter a tag label" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Tag Label</label>
                <div class="col-sm-4">
                    <input type="text" name="tag4" placeholder="Enter a tag label" class="form-control">
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>&nbsp;<a href="/" title="cancel" class="btn">Cancel</a>
            </div>
        </div>
    </form>
</div>
