<h1>List Users To Perform Stuff On</h1>
<div class="col-xs-11" > <!-- position:"left"; -->
    <form id="credentialform" action="/selectuser" method="get">
        <div class="form-group">
            <label>Email for Selected User To Edit Credentials</label>
            <input type="text" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Edit Credentials</button>
    </form> <br/><hr>
    <form id="removeform" action="/removeuser" method="get">
        <div class="form-group">
            <label class="text-danger">UserId for Selected User To Remove From The Database</label>
            <input type="text" class="form-control" name="handle">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">RemoveUser</button>
    </form> <br/><hr>
<h3>Gardener Table</h3><br/>
    <div class="col-xs-11 pre-scrollable"  style="border: 1px solid #e1e1e8;"> <!-- position:"left"; -->
      <table  cellspacing="0" width="100%" >
          <thead>
          <tr><th>UserId<th>Email</th><th>Handle</th><th>Full Name</th><th>Credentials</th></tr>
          </thead>
          <tbody>
          {{#each usrtable}}
              <tr><td>{{uId}}<td><a href="/user/{{uId}}">{{uEmail}}</a></td><td>{{uName}}</td><td>{{uFullName}}</td><td>{{uRole}}</td></tr>
          {{/each}}
          </tbody>
      </table>
    </div>
    <br/>
    <hr/>
    <br/>
    <form id="migrateform" action="/migrateuser" method="post">
        <div class="form-group">
            <label class="text-danger">Modify this user's Identity: Replace newId with oldId</label><br/>
            <label class="text-danger">Old ID</label>
            <input type="text" class="form-control" placeholder="oldId" name="oldId"><br/>
            <label class="text-danger">New ID</label>
            <input type="text" class="form-control" placeholder="newId" name="newId">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">MigrateUser</button>
    </form> <br/><hr>

</div>
