<h3>Search Hits</h3>
<h2>Query: {{ querystring }} </h2>

<div class="col-xs-10 pre-scrollable" style="border: 1px solid #e1e1e8;">
  <div class="tableindex"></div>
    {{#each hits}}
      <li><a href="/topic/{{ locator }}">{{ label }}</a></li>
    {{/each}}
  </div>
</div>
<div class="col-xs-12">
  <div class="pagination"></div>
    {{#if start}}
    <a href="/searchnext/{{start}}?query={{querystring}}">Next</a>&nbsp;&nbsp;&nbsp;
    {{/if}}
    {{#if ret}}
    <a href="/searchprev/{{ret}}?query={{querystring}}">Previous</a>
    {{/if}}
  </div>
</div>
