<div class="home col-xs-12 ">
  <h1>Tag Central!</h1>
  <div class="col-xs-10 pre-scrollable"  style="border: 1px solid #e1e1e8;"> <!-- position:"left"; -->
      <div class="tableindex">
          <!-- TODO paint the table here -->
          {{#each cargo}}
              <a href="/tag/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
          {{/each}}
      </div>
  </div>
  <div class="col-xs-12"> <!-- position:"left"; -->
      <div class="pagination">
        {{#if start}}
          <a href="/tagnext/{{start}}">Next</a>&nbsp;&nbsp;&nbsp;
        {{/if}}
        {{#if ret}}
        <a href="/tagprev/{{ret}}">Previous</a>
        {{/if}}
      </div>
  </div>
</div>
