<h1>Wiki Central!</h1>
{{#if isAuthenticated}}
    <div class="form-group">
        <a href="/wikinew"><button type="submit" class="btn btn-btn-success btn-small">New Topic</button></a><br />
    </div>
{{/if}}

<!-- Pagination data -->
<div id="tabledata"  start="{{start}}" count="{{count}}" total="{{total}}"></div>
<div class="col-xs-10 pre-scrollable"  style="border: 1px solid #e1e1e8;"> <!-- position:"left"; -->
    <div class="tableindex">
        <!-- TODO paint the table here -->
        {{#each cargo}}
            <a href="/wiki/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
        {{/each}}
    </div>
</div>
<div class="col-xs-12"> <!-- position:"left"; -->
    <div class="pagination">
      {{#if start}}
        <a href="/wikinext/{{start}}">Next</a>&nbsp;&nbsp;&nbsp;
      {{/if}}
      {{#if ret}}
        <a href="/wikiprev/{{ret}}">Previous</a>
      {{/if}}
    </div>
</div>
